---
layout: default
title: Índice
---

<div class="row is-center">
  <div class="col-8">
    <h1>{{ site.title }}</h1>

    <dl>
    {% for post in site.posts %}
      <dt>
        {% comment %}
          Eliminamos la primera barra de la URL para poder relativizar la
          URL
        {% endcomment %}
        <a href="{{ post.url | remove_first: '/' }}">
          {{ post.title }}
        </a>
      </dt>
      <dd>{{ post.excerpt }}</dd>
    {% endfor %}
    </dl>
  </div>
</div>
