{% comment %}
`base` define la URL base a partir de la que se van a buscar los
archivos.  Con esto logramos que todas las URLs sean relativas y el
sitio se pueda poner en cualquier directorio.
{% endcomment %}

{% assign base = '' %}
{% assign depth = page.url | split: '/' %}
{% for dots in depth offset: 1 %}
  {% assign base = base | append: '../' %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8">
    <base href="{{ base }}" />
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.gif">
    <link href="assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
