---
layout: default
---

<div class="row is-center">
  <div class="col-8">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    {% comment %}
      Busca el video en el atributo cast del front matter del post y lo
      busca en el directorio casts configurado en _config.yml
    {% endcomment %}
    <asciinema-player
      src="{{ site.casts }}/{{ page.cast }}"
      theme="monokai"
      title="{{ page.title }}"
      author="{{ page.author }}"
      idle-time-limit="2">
    </asciinema-player>
  </div>
</div>

<div class="row is-center">
  <div class="col-8">
    {{ content }}
  </div>
</div>

<script type="text/javascript" src="assets/js/asciinema-player.js"></script>
